@import url('https://fonts.googleapis.com/css2?&family=Didact+Gothic&family=IBM+Plex+Mono:wght@200;300;400&family=Inconsolata:wght@200;300;400;500;600;700;800&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&family=Lora:wght@400;500;600&family=M+PLUS+1p:wght@100;300;400;500&family=Martel:wght@200;400&family=Maven+Pro:wght@400;600&family=Narnoor&family=Nixie+One&family=Nunito:wght@200&family=Prompt:wght@100;200;300;400&family=Quicksand:wght@300&family=Red+Hat+Display:wght@300;400;500;600&family=Scope+One&family=Source+Code+Pro:wght@200;300;400;600&family=Source+Serif+4:wght@200;300;500&display=swap');

:root{
  --ivory: rgba(252, 252, 247, 1);
  --light-moss: rgba(216, 218, 205, 1);
  --light-moss-2: rgba(216, 218, 205, 0.5);
  --dark-moss: rgba(60, 84, 54, 1);
  --pink: hotpink;
  --blue: rgb(152, 152, 255);
  --blue-black: rgb(19, 23, 34);
  --fav-blue: rgb(0, 0, 206); 
  --light-blue: rgb(137, 175, 255);
  --lighter-blue: rgb(217, 228, 253);
  --sky-blue: #add2fe; 
}


#hero {
  height: 30vh;
  width: 100%;
  /* size: contain; */
  z-index: -1;
}

#hero img{
  height: 90vh;
  width: 100%;
  z-index: -1;
}


body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body{ 
  font-family: 'Didact Gothic', sans-serif;
  font-family: 'IBM Plex Mono', monospace; /* type writing like */ 
  font-family: 'Lora', serif;
  font-family: 'M PLUS 1p', sans-serif; /* */
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Narnoor', serif; /* */
  font-family: 'Nunito', sans-serif; /*  */
  font-family: 'Quicksand', sans-serif; /*  */

  color: var(--blue-black);
  font-size: 16pt;

  /* overflow-x: hidden; */

}

header {  /* "Jaelyn Cuellar" title */
  margin: 4% 0 0 -2%; 
  font-family: 'Maven Pro'; 
  font-size: 150%;
  width: 100%;
  display: flex; 
  color: rgb(0, 51, 255); 
}

nav:hover {
  color: var(--light-blue);
}

/* Styling for navigation links - navigation bar */ /* add like a line dash / bullet pt */
nav {
  margin: 4% 0 0 -2%;  
  font-size: 170%;
  width: 100%;
  display: flex; 
}

  nav ul { /* bullpoint / list style  */
    list-style: none;
    padding: 0;
    flex: 1;
  }

  nav ul li { /* items in list */
    margin-top: 0.5em;
    flex: 1;
  }

  nav ul li a { /* the text within the items in list */ 
    text-decoration: none;
    color: #333;
    display: block;
    flex: 1;
  }

  h1:hover {
  color: var(--light-blue);
  }

  nav :hover {
    color: var(--light-blue);
  }


.column-container { /* call class by .class-name */
  display: fixed;
  justify-content: center;
  align-items: stretch; 
  /* make the container at least 100 % of viewport height - adds more space below */
}

.left-column-background { 
  width: 34%; 
  height: 100%;
  background-size: contain;  
  background-color: rgb(255, 183, 255); /* maybe play w gradiant */ 
  padding: 0% 3%;
  position: absolute;
  z-index: 0;
}

.left-column {
  width: 34%; 
  font-family: 'Didact Gothic'; 
  background-size: contain;  
  background-color: white;
  padding: 2% 5%;
  position: fixed;
  height: 100%; /* Ensures the left column covers the entire viewport */
  z-index: 2;
}

.right-column-background {
  margin-left: 40%;
  width: 54%; 
  height: 100%;
  background-size: contain;  
  background-color: white;
  padding: 0% 3%;
  position: absolute;
  z-index: 0;
}

.right-column { 
  margin-left: 40%;
  height: 100vh; /* with this height --> scrolls on the left and then also scrolls on whole */ 
  background-size: contain;
  position: flex;
  overflow-y: scroll;
} 

.container-text { 
  margin: 0em 0em 0em 2em; 
  padding: 2em 0em 0em 0em;
}


#about {
  position: relative;
  width: 100%; 
  height: 45vh; 
  background-color: rgba(135, 207, 235, 0.235);
  z-index: 3;
}
  .about-container {
    z-index: 2;
  }

#experience {
  position: relative; 
  width: 100% ; 
  height: 45vh; 
  background-color: rgba(135, 207, 235, 0.235);
  top: -1em; 
  z-index: 3;
}
  .experience-container {
    width: 100%; 
    height: 45vh; 
    z-index: 2;
  }

#projects {
  position: relative; 
  width: 100% ; 
  height: 45vh; 
  top: -2em; 
  background-color: rgba(135, 207, 235, 0.235); 
  z-index: 3;
}

/* .section-container {
  width: 100%; 
  height: 40vh;
  z-index: 2;
} */


#random {
  position: relative; 
  width: 100% ; 
  height: 45vh; 
  top: -3em; 
  background-color: rgba(135, 207, 235, 0.235); 
  z-index: 3;
}