:root {
  /* --primary-color: #1e90ff; 
  --secondary-color: #ffffff; 
  --text-color: rgb(34, 34, 34);  */
  --primary-background: white; 
  --body-text: #333;
  --btn-background: #FFEAC2; 
  --btn-background-hover: #e99d0f; 
  --btn-text: black; 
  --cards-background:#f1f1f1;
  --cards-background-secondary:#e4e4e4;

}

body,
.about,
.projects,
.skills { 
    padding-top: 60px; /* navbar height so nothing covered */
}

body {
    font-family: 'Inter', sans-serif; 
    color: var(--body-text); 
    max-width: 1000px;
    margin: auto; 
    padding: 60px 20px 20px 20px; 
    line-height: 1.8;
    font-size:large;
}

input,
textarea,
select,
button, 
form {
  font-family: inherit;
  font-size: 1rem;
}


header { 
    text-align: center;
    margin-bottom: 50px;
}

header h1 { 
    font-family: 'Roboto', sans-serif; 
    font-weight: 700; 
    font-size: 3rem; 
    margin-bottom: 5px; 
}

.subtitle { 
    font-weight:500; 
    font-size:1.2rem; 
    margin-bottom: 15px;
}

.links a { 
    display: inline-block; 
    margin: 0 10px;
    text-decoration: none;
    background: var(--btn-background);
    color: black;
    padding: 10px 18px;
    border-radius: 6px; 
    font-weight: 700; 
    transition: background 0.3s; 
}

.links a:hover{ 
    background: var(--btn-background-hover); 
}

.navbar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: var(--btn-background); 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    display: flex;
    /* justify-content: center; center nav-list */
    align-items: center;     /* vertical centering */
    height: 60px;            /* optional fixed height */
    /* padding: 0 10rem; */
    font-size: large;
}

.nav-left, 
.nav-center, 
.nav-right {
    flex:1;
}

.nav-left {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color:var(--body-text)
}

.name-logo {
  font-weight: 600;
  color: var(--body-text);
}

.nav-right,
.nav-center {
  display: flex;
  justify-content: right;
  padding-right: 2em;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-list a { 
    text-decoration: none;
    color: inherit; 
    font-weight: 500; 
}
.nav-list a:hover {
    color: var(--btn-background-hover);  /* highlight on hover */
    text-decoration:overline;
}

.about { 
    font-weight: 500;
}

.emoji { 
    font-size:x-large;
}

/* COLLAPSE SECTION  */
.section-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 60px; 
    z-index: 900; 
    background: var(--primary-background);
    padding: 10px 0;
}
.section-header.show{ 
    position: sticky; 
    top: 100px; 
    z-index: 1000; 
}
.collapsible {
  background-color: inherit;
  color: var(--body-text);
  cursor: pointer;
  width: 80%;
  height: 40px; 
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
}


.active, .collapsible:hover {
  color: var(--btn-background-hover);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--primary-background);
  max-height: 0; 
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.content.show {
  display: block;
  max-height: max-content;
  padding: 18px;
}
/* END OF COLLAPSE SECTION  */


.projects .project-card { /* targets .project-card inside .projects */
    background: var(--cards-background); 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.projects .project-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 6px 18px rgba(0,0,0,0.3)
}

.project-header { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-btn { 
    display: inline-block;
    padding: 10px 10px; 
    margin: 0 0 0 -20px;
    background: var(--btn-background); 
    color: var(--btn-text); 
    border-radius: 999px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2;
    transition: background 0.3s, transform 0.15s;
}
.project-btn:hover {
    background: var(--btn-background-hover); 
    transform: translateY(-1px);
}

.ml-projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 40px;
}

.ml-card {
  background: var(--cards-background-secondary);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.ml-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}


.skills-list { 
    list-style: none; 
    padding: 0; 
}

.skills-list li { 
    display: inline-block; 
    margin: 5px 10px; 
    padding: 5px 12px; 
    background: #e0f0ff; 
    border-radius: 20px;
}

footer { 
    text-align: center;
    margin-top: 50px;
}

footer form { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer input, footer textarea { 
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc; 

}

footer button { 
    padding: 12px 25px;
    border-radius: 8px;
    border: none; 
    background: var(--btn-background);
    color: var(--btn-text);
    font-weight: 500;
    cursor: pointer; 
    transition: background 0.3s;
}

footer button:hover{ 
    background: var(--btn-background-hover);
}


/* FOOTER */
.site-footer {
text-align: center;
padding: 20px;
color: var(--accent-soft);
font-size: 0.9rem;
}

.site-footer a {
color: var(--accent-secondary);
text-decoration: none;
}

.site-footer a:hover {
text-decoration: underline;
}
