
body { 
    font-family: Arial, sans-serif; 
    max-width: 900px; 
    margin: auto; 
    padding: 20px; 
    line-height: 1.6;
}

header { 
    text-align: center;
    margin-bottom: 40px;
}

header a { 
    margin: 0 10px; 
    text-decoration: none;
    color: #0070f3
}

section { 
    margin-bottom: 40px;
}

.project { 
    border: 1px solid #ddd; 
    padding: 15px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
}

footer { 
    text-align: center; 
    color: gray; 
}